<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openquartz.glassmemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <service
            android:name="glasscc.ViewCCRun"
            android:label="Old Convo" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_memo" />
        </service>

        <activity
            android:name="glasscc.CCGenerator"
            android:label="New Conversation" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_memo" />
        </activity>
        <activity
            android:name="glasscc.CCScroll"
            android:enabled="true" >
        </activity>
        <activity
            android:name="glasscc.ViewCCMenu"
            android:theme="@style/MenuTheme" >
        </activity>
        <activity
            android:name="glasscc.ViewCCs"
            android:theme="@style/MenuTheme" >
        </activity>
        <activity
            android:name="glasscc.CCScrollOptions"
            android:theme="@style/MenuTheme" >
        </activity>
    </application>

</manifest>